* {
   box-sizing: border-box;
   margin:0px;
   padding:0px;
}

html {
   font-family: 'Lato', sans-serif;
   font-size: 10px;
   background: -webkit-linear-gradient(to top, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to top, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-size: contain;
   background-repeat: no-repeat;
   height: 100%;
}


.App {
   display: flex;
   justify-content:center;
   flex-flow: row wrap;
   width:100%;
   margin: 15% auto;
}


/* Game Board */

.winner{
   color:white;
   text-align:center;
   font-size: 5rem;
   width: 100%;
}

.game-board {
   margin: 30px auto;
}

.title, 
.turn-tracker{
   background-color: rgb(66,66,66);
   color: white;
   font-size: 3rem;
}

.title-text, 
.turn-tracker-text {
   padding: 10px;
}


.cell {
   border:1px solid black;
   background-color:rgb(255, 255, 255, 0.75);
   font-size:8rem;
   font-weight: 300;
   height: 100px;
   text-align:center;
   width: 100px;
}
.occupied {
   background: white;
}

.empty {
   background-color:rgb(255, 255, 255, 0.5);
}
.empty:hover {
   background-color: white;
   cursor: pointer;
}

.win {
   background-color: tomato;
}


.button-div {
   text-align:center;
   width: 100%;
}

.button {
   border:1px solid rgb(66,66,66);
   color: rgb(66,66,66);
   text-align:center;
   background-color: rgb(255, 255, 255, 0.5);
   margin:15px auto;
   width:300px;
   font-size: 3.2rem;
   padding: 5px;
   width: 300px;
}

.button:hover {
   background-color: tomato;
   border:1px solid tomato;
   color: white;
   cursor: pointer;
}


